@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .time-input::-webkit-calendar-picker-indicator {
    filter: invert(40%);
  }

  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

@layer base {
  :root {
    --background: 0 0% 98%; /* Fundo levemente suavizado */
    --foreground: 0 0% 15%; /* Texto com bom contraste */

    --card: 0 0% 100%; /* Cartões brancos */
    --card-foreground: 240 10% 15%; /* Texto do cartão escurecido para contraste */

    --popover: 0 0% 100%; /* Popovers brancos */
    --popover-foreground: 240 10% 15%; /* Texto do popover escurecido */

    --primary: 160 96% 50%; /* Ajuste para se aproximar do #03bb85 */
    --primary-foreground: 0 0% 98%; /* Texto branco para bom contraste com o primário */

    --secondary: 0 0% 85%; /* Secundário mais suave para complementar o primário */
    --secondary-foreground: 161 96% 20%; /* Texto escurecido para melhor legibilidade */

    --muted: 0 0% 70%; /* Fundo muted levemente esverdeado */
    --muted-foreground: 0 0% 35%; /* Texto muted com contraste adequado */

    --accent: 160 70% 45%; /* Acento ajustado para combinar com o primário */
    --accent-foreground: 0 0% 98%; /* Texto branco para contraste com o accent */

    --destructive: 0 84.2% 60.2%; /* Cor de destruição mantida */
    --destructive-foreground: 0 0% 98%; /* Texto branco para contraste com a destruição */

    --border: 0 0% 88%; /* Bordas com leve tom esverdeado */
    --input: 0 0% 88%; /* Inputs combinando com as bordas */
    --ring: 0 10% 35%; /* Anel com mais contraste para destaque */

    --radius: 0.5rem; /* Manter o radius padrão */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}