@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .time-input::-webkit-calendar-picker-indicator {
    filter: invert(40%);
  }

  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}

@layer base {
  :root {
    /* Cores de fundo e texto */
    --background: 0 0% 98%; /* Fundo levemente suavizado */
    --foreground: 0 0% 20%; /* Texto com bom contraste */

    /* Cores dos cartões */
    --card: 0 0% 100%; /* Cartões brancos */
    --card-foreground: 240 10% 15%; /* Texto do cartão escurecido para contraste */

    /* Cores dos popovers */
    --popover: 0 0% 100%; /* Popovers brancos */
    --popover-foreground: 240 10% 15%; /* Texto do popover escurecido */

    /* Cores principais */
    --primary: 0 0% 98%; /* Ajuste para se aproximar do #03bb85 */
    --primary-foreground: 240 5.9% 10%; /* Texto branco para bom contraste com o primário */

    /* Cores secundárias */
    --secondary: 240 3.7% 15.9%; /* Cor secundária escura */
    --secondary-foreground: 0 0% 98%; /* Texto claro para contraste */

    /* Cores muteds */
    --muted: 0 0% 92%; /* Fundo muted levemente esverdeado */
    --muted-foreground: 0 0% 25%; /* Texto muted com contraste adequado */

    /* Cores de acento */
    --accent: 240 10% 87%; /* Acento ajustado para combinar com o primário */
    --accent-foreground: 0 0% 98%; /* Texto branco para contraste com o accent */

    /* Cores destrutivas */
    --destructive: 0 84.2% 60.2%; /* Cor de destruição mantida */
    --destructive-foreground: 0 0% 98%; /* Texto branco para contraste com a destruição */

    /* Bordas e entradas */
    --border: 0 0% 88%; /* Bordas com leve tom esverdeado */
    --input: 0 0% 88%; /* Inputs combinando com as bordas */
    --ring: 0 10% 35%; /* Anel com mais contraste para destaque */

    /* Radius padrão */
    --radius: 0.5rem; /* Manter o radius padrão */
  }

  .dark {
    --background: 240 10% 3.9%; /* Fundo escuro */
    --foreground: 0 0% 98%; /* Texto claro */

    --card: 240 10% 3.9%; /* Cartões escuros */
    --card-foreground: 0 0% 98%; /* Texto claro para contraste */

    --popover: 240 10% 3.9%; /* Popovers escuros */
    --popover-foreground: 0 0% 98%; /* Texto claro para contraste */

    --primary: 0 0% 98%; /* Cor primária clara */
    --primary-foreground: 240 5.9% 10%; /* Texto escuro para contraste */

    --secondary: 240 3.7% 15.9%; /* Cor secundária escura */
    --secondary-foreground: 0 0% 98%; /* Texto claro para contraste */

    --muted: 240 3.7% 15.9%; /* Fundo muted escuro */
    --muted-foreground: 240 5% 64.9%; /* Texto muted claro */

    --accent: 240 3.7% 15.9%; /* Acento escuro */
    --accent-foreground: 0 0% 98%; /* Texto claro para contraste */

    --destructive: 0 62.8% 30.6%; /* Cor destrutiva escura */
    --destructive-foreground: 0 0% 98%; /* Texto claro para contraste */

    --border: 240 3.7% 15.9%; /* Bordas escuras */
    --input: 240 3.7% 15.9%; /* Inputs escuros */
    --ring: 240 4.9% 83.9%; /* Anel escuro */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    /* Cores para gráficos */
    --chart-custom: 0 0% 98%; /* Branco */
    --chart-1: 12 76% 61%; /* Laranja */
    --chart-2: 173 58% 39%; /* Verde */
    --chart-3: 197 37% 24%; /* Azul */
    --chart-4: 43 74% 66%; /* Amarelo */
    --chart-5: 27 87% 67%; /* Vermelho */
  }

  .dark {
    --chart-custom: 0 0% 98%; /* Branco */
    --chart-1: 220 70% 50%; /* Azul escuro */
    --chart-2: 160 60% 45%; /* Verde escuro */
    --chart-3: 30 80% 55%; /* Amarelo escuro */
    --chart-4: 280 65% 60%; /* Roxo escuro */
    --chart-5: 340 75% 55%; /* Vermelho escuro */
  }
}
