 .bolha {
     background-color: #88B702;
     /* Cor verde com transparência */
     border-radius: 50%;
     /* Iluminação das bolhas */
     animation: brilho 50s infinite alternate ease-in-out;
     filter: blur(120px);
     opacity: 0.5;
     z-index: -1;
     width: 100vw;
     height: 100vh;
 }

 @keyframes brilho {
     from {
         transform: scale(1);
         transform: translateY(-20);
     }

     to {
         transform: scale(1.2);
         transform: translateY(500px);
     }
 }